extends ../layout
block content
  h1 新メンバー追加
  - if(err)
    - const errors = err.errors
    ul.errors
      each error in errors
        li= error.message
  - else
    form(action=`/teams/${team.id}/members`, method="post")
      _csrf  
      select(name="name")
        each user in users
          option(value=user.id) #{user.displayName}

      input(type="submit", value="追加")
    h2 メンバー一覧
    table(border=1)
      thead 
        tr 
          th 役割
          th 名前
      tbody 
        each joinUser in joinUsers
          tr
            td メンバー
            td= joinUser.OwnerUser.displayName