extends ../../layout

block content 
  h1 タスクの編集
  - if(err)
    - const errors = err.errors
    ul.errors
      each error in errors
        li= error.message
  form(action=`/manager/teams/${teamId}/tasks/${task.id}`, method="post")
    _csrf
    _method put
    input(type='hidden', name='id', value=task.id)
    div
      label(for="title") タイトル
      input#title(name="title", value=task.title)
    div  
      label(for="body") 内容
      textarea#body(name="body")=task.body
    div 
      label(for="assignee") 担当者
      select(name="assigneeId")
        each joinUser in joinUsers
          option(value=joinUser.OwnerUser.id) #{joinUser.OwnerUser.displayName}
    div.actions-tasks
      input(type="submit")